<div class="body-container">
  <app-header [title]="'Blog'"></app-header>
  <mat-drawer-container class="sidenav-container">
    <mat-drawer mode="side" opened class="sidenav-nav-content"
      ><mat-selection-list
        #shoes
        [multiple]="false"
        (selectionChange)="onChangeCategory($event)"
      >
        <mat-list-option *ngFor="let cate of categories" [value]="cate.key">
          {{ cate.cate }}
        </mat-list-option>
      </mat-selection-list>
    </mat-drawer>
    <mat-drawer-content class="sidenav-main-content">
      <div class="main-content-container">
        <div class="view-text-content">
          <app-post [articleName]="'post1'"></app-post>
        </div>
        <div class="table-of-contents">
          <div class="toc-container">
            <div class="toc-heading">Overview Content</div>
            <nav>
              <a class="toc-link"> Simple divider </a>
              <a class="toc-link"> Simple divider </a>
              <a class="toc-link"> Simple divider </a>
              <a class="toc-link"> Simple divider </a>
            </nav>
          </div>
        </div>
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
