/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
* {
    font-family: "Roboto", sans-serif;
}

.body-container {
    z-index: 1;
    height: 100%;
    color: #000000de;
    box-sizing: border-box;

    min-height: 100%;
    margin-top: 51px;

    overflow: auto;
    overflow-y: auto;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    display: block;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
