<nav class="navbar-header">
  <a class="navbar-item" routerLink="">
    <img src="../../../assets/images/cbe900982aa0f3feaab1.jpg" class="logo" />
    <span>hieunguyen</span>
  </a>
  <a class="navbar-item" routerLink="">
    <span>Home</span>
  </a>
  <a class="navbar-item" routerLink="blog/posts">
    <span>Blog</span>
  </a>
  <a class="navbar-item" routerLink="about">
    <span>About</span>
  </a>
  <a class="navbar-item" routerLink="contract">
    <span>Contact</span>
  </a>

  <div class="flex-spacer"></div>

  <a class="navbar-item">
    <span>Item 3</span>
  </a>
  <a class="navbar-item">
    <span>Item 4</span>
  </a>
</nav>
