<nav class="navbar-header">
  <a class="navbar-item">
    <img src="../../../assets/images/cbe900982aa0f3feaab1.jpg" class="logo" />
    <span>Hieu's Blog</span>
  </a>
  <a class="navbar-item">
    <span>Trang chủ</span>
  </a>
  <a class="navbar-item" routerLink="blog/posts">
    <span>Blog</span>
  </a>
  <a class="navbar-item">
    <span>Item 2</span>
  </a>

  <div class="flex-spacer"></div>

  <a class="navbar-item">
    <span>Item 3</span>
  </a>
  <a class="navbar-item">
    <span>Item 4</span>
  </a>
</nav>
